*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins';
}

h1{
    font-weight: 700;
}

li{
    list-style: none;
}

.col-md-6, .col-lg-6, .col-sm-6{
    padding: 0;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background: #33637A;
    color: white;
}

#global{
    background: #33637A;
    color: whitesmoke;
    
}



@media screen and (max-width: 600px) {
    h3 {
      font-size: 15px;
      text-align: center;
    }
  }